@import url(base/_variables.scss);

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

*{
    font-family: 'Museo Sans Cyrl 300', sans-serif;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

@import url(blocks/_promo.scss);
@import url(blocks/_header.scss);
